<mat-toolbar [ngClass]="medium ? 'toolbarM' : 'toolbar' " color="primary">

  <span class="user">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="isLoggedIn && !medium">{{ username }}</span>
  </span>
  
  <span class="user"> 
    <img src="assets/logo.png" alt="logo" id="logo">
    Suivi de Projets
  </span>

  <button mat-icon-button matTooltip="Déconnexion" (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
  </button>

</mat-toolbar>

<mat-drawer-container class="bigdrawer" autosize>

  <mat-drawer #drawer class="sidenav" mode="over">
    
    <p class="tri username" *ngIf="medium">{{ username }}</p>

    <p class="tri">Tri:</p>
    <button mat-raised-button color="primary" (click)="tri(null)" class="reset">Réinitialiser</button>
    <p>État:</p>
    <div class="sect">

      <button mat-button color="accent" (click)="tri('assets/1.png')">
        <mat-card class="card">
          <mat-card-content>
            <img mat-card-sm-image src="assets/1.png" >
          </mat-card-content>
        </mat-card>
      </button>

      <button mat-button color="accent" (click)="tri('assets/2.png')">
        <mat-card class="card">
          <mat-card-content>
            <img mat-card-sm-image src="assets/2.png" >
          </mat-card-content>
        </mat-card>
      </button>

      <button mat-button color="accent" (click)="tri('assets/3.png')">
        <mat-card class="card">
          <mat-card-content>
            <img mat-card-sm-image src="assets/3.png" >
          </mat-card-content>
        </mat-card>
      </button>

      <button mat-button color="accent" (click)="tri('assets/4.png')">
        <mat-card class="card">
          <mat-card-content>
            <img mat-card-sm-image src="assets/4.png" >
          </mat-card-content>
        </mat-card>
      </button>

    </div>

    <p>Tendance:</p>
    <div class="sect">

      <button mat-button color="accent" (click)="tri('assets/a.png')">
        <mat-card class="card">
          <mat-card-content>
            <img mat-card-sm-image src="assets/a.png" >
          </mat-card-content>
        </mat-card>
      </button>

      <button mat-button color="accent" (click)="tri('assets/b.png')">
        <mat-card class="card">
          <mat-card-content>
            <img mat-card-sm-image src="assets/b.png" >
          </mat-card-content>
        </mat-card>
      </button>

      <button mat-button color="accent" (click)="tri('assets/c.png')">
        <mat-card class="card">
          <mat-card-content>
            <img mat-card-sm-image src="assets/c.png" >
          </mat-card-content>
        </mat-card>
      </button>

    </div>

  </mat-drawer>


  <div class="container">

    <div class="center">

      <span [matTooltip]=" consult ? 'Vous n\'avez pas les droits' : null ">
        <button mat-raised-button [disabled]="consult" color="accent" [ngClass]="!medium ? 'add' : 'addM' " (click)="openDialog('Ajouter',{})"> Nouveau Projet</button>
      </span>
      
      <button class="red" (click)="downloadPdf()" mat-mini-fab matTooltip="Télécharger Tableau PDF">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>

      <button class="green" (click)="downloadExcel()" mat-mini-fab matTooltip="Télécharger Tableau Excel">
        <mat-icon>table_chart</mat-icon>
      </button>

      <mat-form-field appearence="fill" class="rech" color="accent">
        <mat-label class="rechlab">Rechercher un projet</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Nom projet" #input>
      </mat-form-field>

    </div>

    <mat-table id="table" multiTemplateDataRows matSort #table class="mat-elevation-z8" [dataSource]="dataSource">

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="blue"></mat-header-row>
      <mat-row *matRowDef="let tabs; columns: displayedColumns;" class="element-row"
        (click)="tabclick(tabs)" [class.expanded-row]="expandedElement === tabs"></mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>
      <mat-row *matRowDef="let row; columns: ['progress']" class="progRow"></mat-row>

      <ng-container matColumnDef="projet">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="white" [ngClass]="!medium ? 'projet prohea' : 'projetM proheaM' "> Projet </mat-header-cell>
        <mat-cell *matCellDef="let tabs" [ngClass]="!medium ? 'projet' : 'projetM' ">

          <div>
            {{tabs.projet}} <span [ngClass]="!medium ? 'typePills' : 'typePillsM' ">{{tabs.type}}</span>
          </div>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="white type"> Axe </mat-header-cell>
        <mat-cell *matCellDef="let tabs" class="typecell">

          <div>
            <span>{{tabs.type}}</span>
          </div>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="direction">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="white"
          [ngClass]="!medium ? 'direction' : 'directionM' "> Direction </mat-header-cell>
        <mat-cell *matCellDef="let tabs" [ngClass]="!medium ? 'direction' : 'directionM' ">

          <div>
            {{tabs.direction}}
          </div>

        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="priorite">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="white"> Priorité </mat-header-cell>
        <mat-cell *matCellDef="let tabs">

          <div>
            {{tabs.priorite}}
          </div>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="chef">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="white" [ngClass]="!medium ? 'chef' : 'chefM' "> Chef de
          projet </mat-header-cell>
        <mat-cell [ngClass]="!medium ? 'chef' : 'chefM' " *matCellDef="let tabs">

          <div>
            {{tabs.chef}}
          </div>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="debut">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="white" [ngClass]="!medium ? 'date' : 'dateM' ">
          Date début </mat-header-cell>
        <mat-cell *matCellDef="let tabs" [ngClass]="!medium ? 'date' : 'dateM' ">

          <div>
            {{tabs.debut | date:'MM/yyyy'}}
          </div>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fin">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="white" [ngClass]="!medium ? 'date' : 'dateM' ">
          Date fin prévue </mat-header-cell>
        <mat-cell *matCellDef="let tabs" [ngClass]="!medium ? 'date' : 'dateM' ">

          <div>
            {{tabs.fin | date:'MM/yyyy'}}
          </div>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="etat">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="white" [ngClass]="!medium ? 'etat' : 'etatM' "> État
        </mat-header-cell>
        <mat-cell *matCellDef="let tabs" [ngClass]="!medium ? 'etat' : 'etatM' ">

          <div>
            <img [ngClass]="!medium ? 'imgr' : 'imgrM' " [src]="tabs.etat" />
          </div>

        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="tendance">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="white" [ngClass]="!medium ? 'tendance' : 'tendanceM' ">
          Tendance </mat-header-cell>
        <mat-cell *matCellDef="let tabs" [ngClass]="!medium ? 'tendance' : 'tendanceM'">

          <div>
            <img [ngClass]="!medium ? 'imgr' : 'imgrM' " [src]="tabs.tendance"/>
          </div>

        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="accompli">
        <mat-header-cell *matHeaderCellDef class="white"> Travaux faits </mat-header-cell>
        <mat-cell *matCellDef="let tabs">

          <div>
            {{tabs.accompli}}
          </div>

        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="attention">
        <mat-header-cell *matHeaderCellDef class="white"> Points d'attention </mat-header-cell>
        <mat-cell *matCellDef="let tabs">

          <div>
            {{tabs.attention}}
          </div>

        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="enCours">
        <mat-header-cell *matHeaderCellDef class="white"> Travaux en cours / à venir </mat-header-cell>
        <mat-cell *matCellDef="let tabs">

          <div>
            {{tabs.encours}}
          </div>

        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="white"> Action </mat-header-cell>
        <mat-cell *matCellDef="let tabs">

          <span class="actionPill"> 

            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Pièces jointes" color="accent">
              <mat-icon>attachment</mat-icon>
            </button>

            <mat-menu #menu="matMenu" xPosition="before" yPosition="above">
              <button (click)="openDialog('Upload',tabs)" mat-menu-item> 
                <mat-icon>add</mat-icon> 
                Ajouter un document
              </button>
              <a mat-menu-item *ngFor="let doc of tabs.file">
                <a href="{{url}}api/file/{{doc.id}}" mat-icon-button>
                  <mat-icon>file_download</mat-icon>
                </a>
                <span>{{doc.name}}</span>
                <button mat-icon-button (click)="deleteUp(doc.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </a>
            </mat-menu>

            <button mat-icon-button [matTooltip]="consult ? 'Vous n\'avez pas les droits' : 'Modifier'" [disabled]="consult" color="primary" (click)="openDialog('Modifier',tabs)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Supprimer" color="warn" [matTooltip]="consult ? 'Vous n\'avez pas les droits' : 'Supprimer' " [disabled]="consult" (click)="openDialog('Supprimer',tabs)">
              <mat-icon>delete</mat-icon>
            </button>

          </span>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="progress">
        <mat-cell *matCellDef="let tabs">
          <span [ngClass]="!medium ? 'spacer' : 'spacerM' ">Avancement: </span>
          <div class="wid center"> 
            <span class="pourcent"> {{tabs.progress}}% </span>
            <mat-progress-bar mode="determinate" color="accent" [value]="tabs.progress"></mat-progress-bar>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let tabs" [attr.colspan]="displayedColumns.length" class="element-exp"
          [@detailExpand]="tabs == expandedElement ? 'expanded' : 'collapsed' ">

          <div class="exp">
            <div class="expR">
              <span class="textPills">Priorité: </span>
              <div>
                {{tabs.priorite}}
              </div>
            </div>

            <div class="expR">
              <span class="textPills">Date début : </span>
              <div>
                {{tabs.debut | date:'MM/yyyy'  }}
              </div>
            </div>

            <div class="expR">
              <span class="textPills">Date fin prévue : </span>
              <div>
                {{tabs.fin | date:'MM/yyyy'  }}
              </div>
            </div>

            <div class="expR">
              <span class="textPills">Travaux faits: </span>
              <div>
                {{tabs.accompli}}
              </div>
            </div>

            <div class="expR">
              <span class="textPills">Points d'attention: </span>
              <div>
                {{tabs.attention}}
              </div>
            </div>

            <div class="expR">
              <span class="textPills">Travaux en cours / à venir: </span>
              <div>
                {{tabs.encours}}
              </div>
            </div>

            <div class="expR">
              <span>
                <span class="textPills">Action:</span>


                <button mat-icon-button (click)="consult ? menuAc : openDialog('Upload',tabs) " [matMenuTriggerFor]="menuAc ? menu : null"  matTooltip="Pièces jointes" color="accent">
                  <mat-icon>attachment</mat-icon>
                </button>
    
                
                <mat-menu #menu="matMenu" xPosition="before" yPosition="above" >
                  <a href="{{url}}api/file/{{doc.id}}" mat-menu-item *ngFor="let doc of tabs.file">
                    <mat-icon>file_download</mat-icon>
                    <span>{{doc.name}}</span>
                  </a>
                </mat-menu>
        
                <button mat-icon-button matTooltip="Modifier" color="primary" [matTooltip]="consult ? 'Vous n\'avez pas les droits' : 'Modifier'" [disabled]="consult" (click)="openDialog('Modifier',tabs)">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button matTooltip="Supprimer" color="warn" [matTooltip]="consult ? 'Vous n\'avez pas les droits' : 'Supprimer'" [disabled]="consult" (click)="openDialog('Supprimer',tabs)">
                  <mat-icon>delete</mat-icon>
                </button>
                
              </span>
            </div>

          </div>
        </mat-cell>
      </ng-container>

    </mat-table>

    <button mat-fab class="scroll" *ngIf="isShow" (click)="scroll()" color="accent">
      <mat-icon>north</mat-icon>
    </button>

  </div>
</mat-drawer-container>
