.container
{
    width: 95%;
    margin: 10px auto;
}

.bigdrawer{
    background: none;
    min-height: 900px;
}

.sidenav{
    background: #495bbea6;
    font-size: 16px;
    color: white ;
    padding: 30px;
}

.tri{
    font-size: 20px;
}

.reset{
    margin: 10px 0 15px 105px;
}

.sect{
    display: flex;
    flex-direction: row;
}

.sect button{
    padding: 0;
}

.card{
    width: 40px;
    margin: 5px;
}

.center
{
    text-align: center;
}

.toolbar
{
    justify-content: space-between;
    padding: 0px 10px;
}

.toolbarM
{
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 17px;
}

.user
{
    display: flex;
    align-items: center;
}

#logo{
    width: 39px;
    height: 50px;
    padding-right: 5px;
}

#table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    background: none;
}

.mat-elevation-z8
{
    box-shadow: none;
}

.add
{
    margin-top: 30px;
    margin-right: 50px;
    width: 30%;
}

.addM
{
    margin-top: 30px;
    margin-right: 45px;
    width: 30%;
    font-size: 11px;
}

.blue
{
    background-color: #495bbe;
    border-collapse: collapse;
    border-radius: 20px;
    margin-bottom: 10px;

}

.white
{
    color: white;
}

.red
{
    background-color: rgb(180, 1, 1);
}


.radioGrp{
    padding-left: 10px;
}

.imgr
{
    max-width: 55px;
    max-height: 55px;
}

.imgrM
{
    max-width: 40px;
    max-height: 40px;
}

img
{
    width: 100%;
    height: 100%;
}

.textInp
{
    width: 100%;
    margin-top: 5px;
}

.vert
{
    color: rgb(60, 180, 114);
}

.rech
{
    width: 70%;
    color: white ;
}

.scroll
{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

::ng-deep .white .mat-sort-header-arrow 
{
    color: #ff4081;
}

.chef
{
    padding: 10px;
    flex: 0 0 8% !important;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
      
}

.chefM
{
    padding: 10px 5px;
    font-size: 10px;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
}

.type
{
    flex: 0 0 7% !important;
}

.typecell
{
    flex: 0 0 0% !important;
}

.direction
{
    padding: 10px;
    flex: 0 0 4% !important;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* word-break: break-word; */
    
}

.directionM
{
    font-size: 10px;
    
}

.mat-column-priorite
{
    padding: 10px;
    flex: 0 0 3.5% !important;
}

.prohea
{
    flex: 0 0 4% !important;
}

.proheaM
{
    flex: 0 0 11% !important;
}

.projet
{
    padding: 10px;
    padding-left: 20px;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.projetM
{
    padding: 5px;
    flex: 0 0 19% !important;
    font-size: 10px;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.date
{
    padding: 10px ;
    flex: 0 0 4.5% !important;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.etat
{
    padding: 0px 10px ;
    flex: 0 0 5% !important;
    justify-content: center;
}

.etatM
{
    justify-content: center;
    font-size: 10px;
    
}


.tendance
{
    padding: 0px 10px ;
    flex: 0 0 5% !important;
    justify-content: center;
}

.tendanceM
{
    justify-content: center;
    padding-right: 5px;
    font-size: 10px;

}


.mat-column-accompli
{
    padding: 10px ;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
}

.mat-column-attention
{ 
    padding: 10px ;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
}

.mat-column-enCours
{
    padding: 10px ;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
}

.mat-column-action
{
    flex: 0 0 8% !important;
    padding: 5px 5px ;
    justify-content: center;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}


.detail-row {
    min-height: 0;
    border-style: none;
    background: rgb(255, 255, 255);
}

.element-row
{
    border-bottom-style: none;
    padding: 5px 0;
    border-radius: 30px 30px 0px 0px;
    background: white;
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
}

.progRow
{
    border-top-style: none;
    padding: 5px 0;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024;
}

.element-row:not(.expanded-row):hover {
    background: linear-gradient(90deg, rgba(249, 139, 139, 0.103) 0%, hsla(292.2, 87.8%, 74.3%, 0.79) 100%);
}

.element-row:not(.expanded-row):active {
    background: linear-gradient(90deg, rgba(249, 139, 139, 0.212) 0%, rgba(232, 132, 247, 0.616) 100%);
}

.element-row:not(.expanded-row):hover + .detail-row + .progRow {
    background: linear-gradient(90deg, rgba(249, 139, 139, 0.103) 0%, hsla(292.2, 87.8%, 74.3%, 0.79) 100%);
}

.element-row:not(.expanded-row):active + .detail-row + .progRow  {
    background: linear-gradient(90deg, rgba(249, 139, 139, 0.212) 0%, rgba(232, 132, 247, 0.616) 100%);
}

.exp
{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.expR
{
    padding: 10px 0;
    font-size: 10px;
}

.spacer
{
    margin-right: 5px ;
    font-size: 12px;
    color: white;
    background: #ff4081 ;
    padding: 4px 10px;
    border-radius: 20px;
}

.spacerM
{
    margin-right: 5px ;
    font-size: 10px;
    color: white;
    background: #ff4081 ;
    padding: 3px 8px;
    border-radius: 20px;
}

.textPills
{
    color: white;
    background: #495bbe ;
    padding: 4px 10px;
    border-radius: 20px;
}

.typePills
{
    font-size: 12px;
    color: white;
    background: #495bbe ;
    padding: 4px 10px;
    border-radius: 20px;
}

.typePillsM
{
    font-size: 9px;
    color: white;
    background: #495bbe ;
    padding: 4px 7px;
    border-radius: 20px;
    
}

.expR div
{
    margin-top: 10px;
    margin-left: 20px;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.actionPill
{
    border: 2px solid #495bbe ;
    border-radius: 20px;
    display: inline-flex;
}

.element-exp 
{
    overflow: hidden;
    display: flex;
}

.pourcent{
    /* padding-right: 100px; */
    color: #ff4081;
    /* font-size: 16px; */
}

.wid{
    width: 100%;
}