.container
{
    width: 95%;
    margin: 10px auto;
}

.center
{
    text-align: center;
}

.toolbar
{
    justify-content: space-between;
    padding: 0px 10px;
}

.toolbarM
{
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 17px;
}

.user
{
    display: flex;
    align-items: center;
}

#logo{
    width: 39px;
    height: 50px;
    padding-right: 5px;
}

#table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
}


.add
{
    margin-top: 30px;
    margin-right: 50px;
    width: 30%;
}

.addM
{
    margin-top: 30px;
    margin-right: 45px;
    width: 30%;
    font-size: 11px;
}

.blue
{
    background-color: #495bbe;
    border-collapse: collapse;
    border-radius: 20px;

}

.white
{
    color: white;
}

.red
{
    background-color: rgb(180, 1, 1);
}

.spacer
{
    margin: 0 1px ;
}

.radioGrp{
    padding-left: 10px;
}

.imgr
{
    max-width: 55px;
    max-height: 55px;
}

.imgrM
{
    max-width: 40px;
    max-height: 40px;
}

img
{
    width: 100%;
    height: 100%;
}

.textInp
{
    width: 100%;
    margin-top: 5px;
}

.vert
{
    color: rgb(60, 180, 114);
}

.rech
{
    width: 70%;
    color: white ;
}

.scroll
{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

::ng-deep .white .mat-sort-header-arrow 
{
    color: #ff4081;
}

.chef
{
    padding: 10px 0px 10px 20px;
    flex: 0 0 8% !important;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
      
}

.chefM
{
    padding: 10px 5px;
    font-size: 12px;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
}

.type
{
    flex: 0 0 8% !important;
}

.typecell
{
    flex: 0 0 0% !important;
}

.direction
{
    padding: 10px;
    flex: 0 0 4% !important;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* word-break: break-word; */
    
}

.directionM
{
    font-size: 12px;
    
}

.mat-column-priorite
{
    padding: 10px 10px;
    flex: 0 0 3.5% !important;
}

.prohea
{
    flex: 0 0 4% !important;
}

.proheaM
{
    flex: 0 0 11% !important;
}

.projet
{
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.projetM
{
    font-size: 12px;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.date
{
    padding: 10px 10px ;
    flex: 0 0 7% !important;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.etat
{
    padding: 0px 10px ;
    flex: 0 0 5% !important;
    justify-content: center;
}

.etatM
{
    justify-content: center;
    font-size: 12px;
    
}


.tendance
{
    padding: 0px 10px ;
    flex: 0 0 5% !important;
    justify-content: center;
}

.tendanceM
{
    justify-content: center;
    padding-right: 5px;
    font-size: 12px;

}


.mat-column-accompli
{
    padding: 10px 10px ;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
}

.mat-column-attention
{ 
    padding: 10px 10px ;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
}

.mat-column-enCours
{
    padding: 10px 10px ;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
}

.mat-column-action
{
    flex: 0 0 6% !important;
    padding: 5px 5px ;
    justify-content: center;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}


.detail-row {
    min-height: 0;
}

.element-row
{
    border-bottom-width: 0;
}

.element-row:not(.expanded-row):hover {
    background: #ff408007;
}

.element-row:not(.expanded-row):active {
    background: #ff408026;
}

.exp
{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.expR
{
    padding: 10px 0;
}

.textPills
{
    color: white;
    background: #495bbe ;
    padding: 4px 10px;
    border-radius: 20px;
    
}

.typePills
{
    font-size: 12px;
    color: white;
    background: #495bbe ;
    padding: 4px 10px;
    border-radius: 20px;
}

.typePill
{
    font-size: 12px;
    color: white;
    background: #495bbe ;
    padding: 4px 10px;
    border-radius: 20px;
    visibility: hidden;
}

.typePillsM
{
    font-size: 9px;
    color: white;
    background: #495bbe ;
    padding: 4px 10px;
    border-radius: 20px;
    
}

.expR div
{
    margin-top: 10px;
    margin-left: 20px;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.actionPill
{
    border: 2px solid #495bbe ;
    border-radius: 20px;
    display: inline-flex;
}

.element-exp 
{
    overflow: hidden;
    display: flex;
}

/* 
.month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.month-picker .mat-calendar-arrow {
  display: none;
} */