.textInp
{
    width: 100%;
}
.row
{
    height: 95px;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

.flex
{
    display: flex;
    justify-content: space-around;
}

img
{
    width: 55px;
    height: 50px;
}
