.normal
{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    margin: 20vh auto;
    padding: 30px;
    border: 2px solid #b651ff;
    /* box-shadow: 0px 0px 10px #a178ef ; */
    border-radius: 10px;
    background: white;
}

.altsm
{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin: 20vh auto;
    padding: 30px;
    border: 2px solid #b651ff;
    /* box-shadow: 0px 0px 10px #a178ef; */
    border-radius: 10px;
    background: white;
}

.eye
{
    padding-top: 10px;
}

.center
{
    justify-content: center;
}

#logo{
    width: 39px;
    height: 50px;
}