.mat-app-background{
    background: hsla(238, 100%, 71%, 1);

background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#696EFF", endColorstr="#F8ACFF", GradientType=1 );
}




.container
{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
    margin: 20vh auto;
    padding: 30px;
    border: 2px solid rgb(63, 81, 181);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(80, 102, 224);
}

.altsm
{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin: 20vh auto;
    padding: 30px;
    border: 2px solid rgb(63, 81, 181);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(80, 102, 224);
}

.full
{
    width: 100% ;
}

.icon
{
    padding-top: 10px;
}

.center
{
    justify-content: center;
}

